.continue-button {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 999px;
  background: hsl(224, 30%, 27%);
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 24px;
}

.continue-button:hover {
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );
}